<div class="message-input">
  <%= form_for(@message, local: true) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit "Send" %>
  <% end %>
</div>