<h1>Problem Sets</h1>
<h2>Group 8</h2><h3>Kiran Dhakal(121108), Htoo Lwin(120832), Suprava Sahoo(120984)</h3>
<hr>
<%= link_to "Problem Sets 1", ps1_index_path %><br>
<%= link_to "Problem Sets 2", ps2_index_path %>

