<div class="container"><h2>User Profiles</h2><h3>Kiran Dhakal(121108), Htoo Lwin(120832), Suprava Sahoo(120984)</h3>
</div>
<hr>

<div class="container">
  <strong>
    <%= link_to "Refer to document", "https://docs.google.com/document/d/1FvW25sgZ9WXZf3Q4ChU8Jny22gsTjc8Oh4BRzCwfuXg/edit#bookmark=id.hc2q7vnnbun8" %>
  </strong><hr>
</div>
