// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back {
  height: 60vh;
  width: 100%;
  margin-top: 50px;
}